<div class="container">
  <div class="row">
      <% @pictures.each do |picture| %>

    <div class="col-sm-6 col-md-3 col-lg-3 setheight">
      <div class="thumbnail">
        <%= cl_image_tag( picture.image )%>

        <div class="caption">
          <h3><%= picture.title %></h3>
          <%= link_to 'Show', picture, class: "btn btn-primary" %>
          <%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %>

        </div>
      </div>
    </div>


<% end %>
</div>
</div>
