<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
      <h2>Picture Details</h2>
    

      <div class="links btn-group">
        <%= link_to 'Edit', edit_picture_path(@picture) ,class: "btn btn-default" %>
        <%= link_to 'Index', pictures_path,class: "btn btn-default" %>
        <%= link_to 'Delete', picture_path(@picture), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-default"%>
      </div>

      <div class="picture-image-container">
        <%= cl_image_tag( @picture.image,
        :width=>600 )%>
      </div>
    </div>
  </div>
</div>
