// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.caption {
  height: 40%;
  text-align: center;

  a {
    margin-bottom: 5px;
    &:visited {
      color: #fff;
    }
  }
}
.setheight {
  height: 260px;
  z-index: 0;

  img {
    max-height: 140px;
  }
}

.picture-show {
  background-color: #fff;

  img {
    width: 100%;
  }
}
