// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-primary: #EE9572;

$site-wide-transition-duration: 1000ms;

.login-container {
  background-color: white;
  .links {
    background-color: transparent;
    display: inline-block;
    width: 49%;
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    margin-bottom: 10px;

    &:first-child {

    }

    &:hover,
    &:focus {
      color: $color-primary;
      text-decoration: none;
      border-color: $color-primary;
      background-color: white;
    }

  }
}
